<div class="row" style="margin: 0 0; display: flex">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-header class="big-discuss text-black">

        <mat-card-title>
          Big Discussions
        </mat-card-title>

      </mat-card-header>
      <mat-card-content class="big-content">
        <div fxFlex.gt-sm="100" fxFlex="100">

          there is no any Topic yet
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header class="bg-header text-black">

        <mat-card-title>
          Recent Topics
        </mat-card-title>

      </mat-card-header>
      <mat-card-content>
        <div fxFlex.gt-sm="100" fxFlex="100">
          <mat-card>
            <!--// football-->
            <mat-card-header>
              <mat-card-title style="margin-left: 3px; display: flex;">
                <img src="assets/images/football.jpg" alt="football" style="width: 30px">
                <span style="font-size: 16px; color: #3b515f; margin: 3px 15px;">Foot Ball</span>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="row wrap">
                <div *ngFor="let forum of forums" class="recent-content" fxFlex.gt-sm="100" fxFlex="100">
                  <p><a>{{forum.title}}</a></p>
                  <span>{{forum.content}}</span>
                </div>
              </div>
            </mat-card-content>
            <!--// Cricket-->
            <mat-card-header>
              <mat-card-title style="margin-left: 3px; display: flex;">
                <img src="assets/images/cricket.jpg" alt="football" style="width: 30px">
                <span style="font-size: 16px; color: #3b515f; margin: 3px 15px;">Cricket</span>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="row wrap">
                <div *ngFor="let forum of forums" class="recent-content" fxFlex.gt-sm="100" fxFlex="100">
                  <p><a>{{forum.title}}</a></p>
                  <span>{{forum.content}}</span>
                </div>
              </div>
            </mat-card-content>
            <!--// Tennis-->
            <mat-card-header>
              <mat-card-title style="margin-left: 3px; display: flex;">
                <img src="assets/images/tennis.jpg" alt="football" style="width: 30px">
                <span style="font-size: 16px; color: #3b515f; margin: 3px 15px;">Tennis</span>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="row wrap">
                <div *ngFor="let forum of forums" class="recent-content" fxFlex.gt-sm="100" fxFlex="100">
                  <p><a>{{forum.title}}</a></p>
                  <span>{{forum.content}}</span>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!--<div fxFlex.gt-sm="30" fxFlex="30">-->
    <!--<mat-card>-->
      <!--<mat-card-header class="bg-header text-black">-->

        <!--<mat-card-title>-->
          <!--Most Recent Blogs-->
        <!--</mat-card-title>-->

      <!--</mat-card-header>-->
      <!--<mat-card-content>-->
        <!--<div fxFlex.gt-sm="100" fxFlex="100">-->
          <!--<mat-card>-->
            <!--<mat-card-content>-->
              <!--<div fxLayout="row wrap">-->
                <!--<div *ngFor="let forum of forums" class="recent-content" fxFlex.gt-sm="100" fxFlex="100">-->
                  <!--<p><a>{{forum.title}}</a></p>-->
                  <!--<span>{{forum.content}}</span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</mat-card-content>-->
          <!--</mat-card>-->
        <!--</div>-->
      <!--</mat-card-content>-->
    <!--</mat-card>-->
  <!--</div>-->
</div>


