<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Prematch Talk</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/images/favicon.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="styles.97f1cb720baf7a580214.css"></head>
<body>
  <app-root></app-root>
  
<script type="text/javascript" src="runtime.9041e1c2fe03b02eb0cd.js"></script><script type="text/javascript" src="polyfills.3852101d8978036ae508.js"></script><script type="text/javascript" src="scripts.dbab6746a303a246cd9b.js"></script><script type="text/javascript" src="main.6f2cd91f54f517d7bee7.js"></script></body>
</html>
