<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Prematch Talk</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/images/favicon.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="styles.f08ce7d5f7e55ee8e754.css"></head>
<body>
  <app-root></app-root>
  
<script type="text/javascript" src="runtime.29ac659303c33d2679e5.js"></script><script type="text/javascript" src="polyfills.59a0fbc7636f7cc3f815.js"></script><script type="text/javascript" src="scripts.dbab6746a303a246cd9b.js"></script><script type="text/javascript" src="main.bfc7f1cfbfb0ead15191.js"></script></body>
</html>
