/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

.mat-list-base {
    padding-top: 0 !important;
}
.mat-list-item-content > a {
    height: 30px !important;
    background-color: #E9EBEC !important;
}
.mat-nav-list .mat-list-item.selected > .mat-list-item-content > a {
    height: 30px !important;
    /*background-color: aliceblue !important;*/
    /*border: 1px solid #1E88E5 !important;*/
}
.mat-nav-list .mat-list-item a {
    margin-bottom: 0 !important;
    color: #050304 !important;
    border-bottom: 1px solid #FFF !important;
}
.mat-nav-list .mat-list-item .mat-list-item-content {
    padding: 0 0 !important;
}
.logo-icon {
    width: 100px;
    height: auto;
}
.topbar {
    background-color: #3949ab !important;
}
.profile-text {
    border-bottom: 2px solid #3949ab;
}

